img {
    height: 100px;
  }
  #img-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 70%;
  }
  span, a {
      font-family: 'Cairo', sans-serif;
      color:white;
      margin: 5px;
  }
  button {
      margin: 0, 5px;
  }
  mat-toolbar {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  mat-toolbar-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
  }
  #container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
  }
  #toggle-container {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: center;
      width: 30%;
  }