* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menu {
  margin: 0;
  padding: 0;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 10;
}
span {
  display: none;
  font-family: "Cairo", sans-serif;
  color: white;
}
a {
  font-size: 8px;
  padding: 0 2%;
  font-family: "Cairo", sans-serif;
  color: white;
}
mat-toolbar-row {
  padding: 0;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#img-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
}
img {
  max-width: 120px;
}
fa-icon {
  color: #4caf50;
  display: block;
}
fa-icon:hover {
  transform: scale(1.1);
  transition: 0.5sec;
}
#icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 65%;
  a {
    display: block;
    margin: 2px;
  }
}
button {
  font-family: "Cairo", sans-serif;
}
mat-button-toggle  {
  font-size: 8px;
}
@media (min-width: 375px) {
  #toggle-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    box-shadow: none;
  }
  a {
    font-size: small;
  }
  mat-button-toggle  {
    font-size: small;
  }
}
@media (min-width: 768px) {
  span {
    display: inline;
    margin: 10px;
  }
  a {
    font-size: medium;
  }
  mat-button-toggle  {
    font-size: medium;
  }
}