<div id="container">
        <div id="img-container">
          <img src="../assets/logo.png" alt="alfanar logo" />
        </div>
        <div id="toggle-container">
          <mat-button-toggle-group>
            <mat-button-toggle (click)="useLanguage('en')">English</mat-button-toggle>
            <mat-button-toggle (click)="useLanguage('ar')">عربي</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>{{ "Home.Company-Name" | translate }}</span>
          <div id="nav-links">
            <a mat-button>{{ "Home.Main-Page" | translate }}</a>
            <a mat-button>{{ "Home.Our-Products" | translate }}</a>
            <a mat-button>{{ "Home.About-Us" | translate }}</a>
            <a mat-button [matMenuTriggerFor]="menu">{{
              "Home.Contact-Us" | translate
            }}</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>{{ "Home.Contact-Info" | translate }}</button>
              <button mat-menu-item>{{ "Home.Contact-Form" | translate }}</button>
            </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>