* {
  z-index: 1;
  position: relative;
  font-family: 'Cairo', sans-serif;
  font-size: small;
}
h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  margin: 5%;
}
@media (min-width: 768px) {
  * {
    font-size: xx-large;
  }
}
