* {
  font-family: "Cairo", sans-serif;
}
#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 2%;
  mat-card {
    margin: 10%;
    img {
      background-size: cover;
    }
    button {
      color: white !important;
    }
  }
}
h2 {
  text-align: center;
  margin: 10%;
}
