<div>
  <app-carousel></app-carousel>
  <h2 data-aos="fade-in" data-aos-delay="50">
    {{ 'Home.Featured-Products' | translate }}
  </h2>
  <div id="container">
    <ng-container *ngFor="let Product of Products">
      <mat-card
        *ngIf="Product.featured === 'yes'"
        data-aos="fade-in"
        data-aos-delay="50"
      >
        <mat-card-header>
          <mat-card-title>{{ Product.Name }}</mat-card-title>
          <mat-card-subtitle>{{ Product.Brand }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ Product.Images[0] }}" alt="" />
        <mat-card-content> </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            routerLink="/detail/{{ Product.Name }}"
          >
            See More Details
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
