#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: 'Cairo', sans-serif;
}
.img-hover-zoom {
    height: 300px;
    overflow: hidden;
  }
  
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }