<div id="container">
  <h2  data-aos="fade-in" data-aos-delay="50">{{ "Home.Our-Location" | translate }}</h2>
  <p  data-aos="fade-in" data-aos-delay="50">{{ "Home.Address" | translate }}</p>
  <div class="img-hover-zoom"  data-aos="fade-in" data-aos-delay="50">
    <a
      href="https://www.google.com/maps/place/Al+Fanar+Medical+Center/@31.198183,29.9259082,18z/data=!3m1!4b1!4m5!3m4!1s0x14f5c38237cd7637:0xdad8f8168048766d!8m2!3d31.198183!4d29.925276"
      target="”_blank”"
      ><img src="../../assets/images/map.png" alt="alfanar center location"
    /></a>
  </div>
</div>
