<div data-aos="fade-in" data-aos-delay="50">{{ "Home.Form-Message" | translate }}</div>
<form
  netlify
  method="POST"
  hidden
  name="Contact-Form"
  [formGroup]="contactForm"
  (ngSubmit)="submitForm()"
  data-aos="fade-in"
  data-aos-delay="50"
>
  <input type="hidden" name="form-name" value="Contact-Form" />
  <mat-form-field>
    <input
      matInput
      name="Name"
      type="text"
      placeholder="{{ 'Home.Name' | translate }}"
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="nameFormControl.hasError('pattern')">
      {{ "Home.Valid-Name" | translate }}
    </mat-error>
    <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
      {{ "Home.Name-is" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="Email"
      type="email"
      placeholder="{{ 'Home.Email' | translate }}"
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="emailFormControl.hasError('email')">
      {{ "Home.Valid-Email" | translate }}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{ "Home.Email-is" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="Phone-Number"
      type="text"
      placeholder="{{ 'Home.Phone-Number' | translate }}"
      [formControl]="phoneNumberFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="phoneNumberFormControl.hasError('pattern')">
      {{ "Home.Valid-Phone" | translate }}
    </mat-error>
    <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
      {{ "Home.Phone-Number-is" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      name="Comments"
      type="text"
      [formControl]="commentsFormControl"
      placeholder="{{ 'Home.Comments' | translate }}"
      [errorStateMatcher]="matcher"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="Verification"
      type="text"
      placeholder="{{ 'Home.Verification' | translate }}: {{ ranNum }}"
      [formControl]="verificationFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="verificationFormControl.hasError('required')">
      {{ "Home.Verification2" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
    <mat-error
      *ngIf="
        verificationFormControl.errors &&
        !verificationFormControl.hasError('required')
      "
    >
      {{ "Home.Verification3" | translate }}
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    name="submit"
    type="submit"
    id="last"
  >
    {{ "Home.Submit" | translate }}
  </button>
</form>
