form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1%;
}
mat-form-field {
  width: 50%;
  margin: 1%;
}
button {
  font-size: large;
  margin: 1%;
}
div {
  margin: 2%;
}
