<div>{{ "Home.Form-Message" | translate }}</div>
<form
  netlify
  method="POST"
  hidden
  name="Contact-Form"
  action="/"
  [formGroup]="contactForm"
  (ngSubmit)="submitForm()"
>
  <input type="hidden" name="form-name" value="Contact-Form" />
  <mat-form-field>
    <input
      matInput
      name="Name"
      type="text"
      placeholder="{{ 'Home.Name' | translate }}"
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error
      *ngIf="
        nameFormControl.hasError('pattern') &&
        !nameFormControl.hasError('required')
      "
    >
      {{ "Home.Valid-Name" | translate }}
    </mat-error>
    <mat-error *ngIf="phoneNumberFormControl.hasError('required') && !nameFormControl.hasError('pattern')">
      {{ "Home.Name-is" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="Email"
      type="email"
      placeholder="{{ 'Home.Email' | translate }}"
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="emailFormControl.hasError('email')">
      {{ "Home.Valid-Email" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="Phone-Number"
      type="text"
      placeholder="{{ 'Home.Phone-Number' | translate }}"
      [formControl]="phoneNumberFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error
      *ngIf="
        phoneNumberFormControl.hasError('pattern') &&
        !phoneNumberFormControl.hasError('required')
      "
    >
      {{ "Home.Valid-Phone" | translate }}
    </mat-error>
    <mat-error *ngIf="phoneNumberFormControl.hasError('required') && !phoneNumberFormControl.hasError('pattern')">
      {{ "Home.Phone-Number-is" | translate }}
      <strong>{{ "Home.Required" | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      name="Comments"
      type="text"
      [formControl]="commentsFormControl"
      placeholder="{{ 'Home.Comments' | translate }}"
      [errorStateMatcher]="matcher"
    ></textarea>
  </mat-form-field>
  <button mat-stroked-button color="primary" name="submit" type="submit">
    {{ "Home.Submit" | translate }}
  </button>
</form>
